@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /* Pixel perfect image */
    .farmImage {
        image-rendering: pixelated;
        filter: blur(0);
        --webkit-filter: blur(0);
        transform: translateZ(0);
        --webkit-transform: translateZ(0);
    }
}


.header{
    @apply text-2xl font-bold
}

.direction {
    @apply p-6 border-2 border-accent shadow-2xl rounded-3xl
}

.clue {
    @apply font-bold
}